<!doctype html>
<html>
<head>

  <title>core-ajax</title>

  <script src="/static/bower_components/webcomponentsjs/webcomponents.js"></script>
  <link rel="import" href="/static/bower_components/core-ajax/core-ajax.html">

</head>
<body>

  <core-ajax auto url="//localhost:8080/feeds/api/rob/" 
      params='{"alt":"json", "q":"chrome"}'
      handleAs="json"></core-ajax>
   
  <template repeat="{{response.feed.entry}}">
    <div>** {{title.$t}} **</div>
  </template>
  
  <script>
    document.addEventListener('polymer-ready', function() {
      var ajax = document.querySelector("core-ajax");
      ajax.addEventListener("core-response", 
        function(e) {
          document.querySelector('template').model = {
            response: e.detail.response
          };
        }
      );
    });
  </script>

</body>
</html>
