<!doctype html>
<html>
<head>

  <title>Rob's core-ajax Demo</title>

  <script src="/static/bower_components/webcomponentsjs/webcomponents.js"></script>
  <link rel="import" href="/static/bower_components/core-ajax/core-ajax.html">

</head>
<body>

<core-ajax auto url="//localhost:8080/feeds/api/rob/" 
	params='{"foo":"alpha", "bar":"omega"}'
	handleAs="json" id="movieDataSource">
</core-ajax>

<template id="movie-table-template" bind="{{movieArray}}">
    <table border="1">
        <thead>
        <tr>
            <th>NAME</th>
            <th>REVIEW</th>
            <th>STARS</th>
            <th>LINK</th>
        </tr>
        </thead>
        <tbody>
            <template repeat="">
                <tr >
                    <td>{{name}}</td>
                    <td>{{review}}</td>
                    <td>{{stars}}</td>
                    <td>{{link}}</td>
                </tr>
            </template>
        </tbody>
    </table>
</template>
<script>
    var APP ={
        /*AJAX Success Callback Method*/
        ajaxCallbackHandler : function(e) {
            document.querySelector('#movie-table-template').model = {
                movieArray: e.detail.response
            };
        }
    }
    document.addEventListener('polymer-ready', function() {
        var ajax = document.querySelector("#movieDataSource");
        ajax.addEventListener("core-response",APP.ajaxCallbackHandler);
    });
</script>
</body>
</html>
